:root {
	--green: #adff2f;
	--gray: #a3a3a3;
	--darkgrey: #282828;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	color: white;
}

ul {
	list-style: none;
}

.btn {
	color: var(--gray)
}

.btn:hover {
	cursor: pointer;
	color: white;
}

/* DEBUG */

.debug main {
	background-color: darkblue;
}

.debug footer {
	background-color: grey;
}

/* Macro-areas size */
body {
	display: flex;
	flex-wrap: wrap;
}

header {
	width: 50px;
	height: calc(100vh - 90px);
}

main {
	width: calc(100% - 50px);
	height: calc(100vh - 90px);
}

@media screen and (min-width: 601px) {
	header {
		width: 230px;
	}
	
	main {
		width: calc(100% - 230px);
	}
}

footer {
	width: 100%;
	height: 90px;
}

/* Lateral header */

.sidebar {
	background-color: black;
	
	padding-top: 5px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.wide-bar {
	display: none;
}

.logo-small {
	height: 28px;
}

.side-navbar {
	margin-top: 8px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.side-navbar li {
	line-height: 35px;
}

.icon {
	height: 24px;
}

.btn-download img{
	height: 1rem;
}

.user-pic {
	width: 25px;
	height: 25px;
	border-radius: 50%;

	overflow: hidden;

	background-color: var(--gray);
}

.user-pic img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

@media screen and (min-width: 601px) {
	.sidebar {
		padding: 20px;
		
		align-items: flex-start;
	}

	.wide-bar {
		display: initial;
	}

	.logo-small {
		display: none;
	}

	.logo-name {
		height: 40px;
	}

	.side-navbar {
		margin-top: 24px;

		align-items: flex-start;
	}

	.sidebar .btn,
	.user-profile {
		display: flex;
		align-items: center;
	}

	.selected {
		margin-left: -20px;
		padding-left: 18px;
		border-left: 2px solid var(--green) ;
	}

	.add {
		width: 37px;
		
		line-height: 37px;
		font-size: 30px;
		text-align: center;
		color: black;
		
		background-color: var(--gray);
	}
}