/* Common */

:root { /* Variables */
	--green: #adff2f;
	--gray: #a3a3a3;
	--darkgrey: #282828;
}

* { /* Reset */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html { /*Font */
	font-family: 'Montserrat', sans-serif;
	color: white;
}

ul {
	list-style: none;
}

.btn {
	color: var(--gray)
}

.btn:hover {
	cursor: pointer;
	color: white;
}

/* Macro-areas size */
body {
	display: flex;
	flex-wrap: wrap;
}

header {
	width: 50px;
	height: calc(100vh - 90px);
}

main {
	width: calc(100% - 50px);
	height: calc(100vh - 90px);
}

@media screen and (min-width: 601px) {
	header {
		width: 230px;
	}
	
	main {
		width: calc(100% - 230px);
	}
}

footer {
	width: 100%;
	height: 90px;
}

/* Lateral header */

.sidebar {
	background-color: black;
	
	padding: 5px 0 10px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wide-bar {
	display: none;
}

.logo-small {
	height: 28px;
}

.side-navbar {
	margin-top: 8px;
}

.sidebar li {
	line-height: 35px;
}

.icon {
	height: 24px;
}

.sidebar-bottom {
	margin-top: auto;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn-download img{
	height: 16px;
	width: 16px;
	object-position: -1px;
}

.user-pic {
	width: 25px;
	height: 25px;
	border-radius: 50%;

	overflow: hidden;

	background-color: var(--gray);
}

.user-profile {
	margin-top: 22px;
}

.user-pic img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

@media screen and (min-width: 601px) {
	.sidebar {
		padding: 20px 0 5px;

		font-size: 14px;

		align-items: stretch;
	}

	.sidebar .btn, .sidebar .logo,
	.sidebar h3 {
		padding-left: 20px;
	}

	.wide-bar {
		display: initial;
	}

	.logo-small {
		display: none;
	}

	.logo-name {
		height: 40px;
	}

	.side-navbar {
		margin: 24px 0;
	}

	.side-navbar .icon {
		margin-right: 8px;
	}

	.sidebar .btn,
	.user-profile {
		display: flex;
		align-items: center;
	}

	.sidebar .btn.selected {
		padding-left: 18px;
		border-left: 2px solid var(--green);
		color: white;
	}

	.add-playlist {
		margin: 12px 0;
	}

	.add {
		margin-right: 8px;
		width: 37px;
		line-height: 37px;
		
		font-size: 30px;
		text-align: center;
		color: black;
		
		background-color: var(--gray);
	}

	.playlists {
		overflow-y: auto;
	}

	.sidebar-bottom {
		align-items: stretch;
	}

	.btn-download img {
		margin-right: 8px;
	}

	.btn.user-profile {
		padding-top: 13px;
		padding-left: 0;
		margin: 8px 20px 0;
		border-top: 1px solid var(--gray);
	}

	.user-name {
		color: white;
		font-weight: 600;
		font-size: 16px;
		margin-left: 8px;
	}
}