* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	color: white;
}

ul {
	list-style: none;
}

.btn:hover {
	cursor: pointer;
}

/* DEBUG */

.debug main {
	background-color: darkblue;
}

.debug footer {
	background-color: grey;
}

/* Macro-areas size */
body {
	display: flex;
	flex-wrap: wrap;
}

aside {
	width: 50px;
	height: calc(100vh - 90px);
}

main {
	width: calc(100% - 50px);
	height: calc(100vh - 90px);
}

@media screen and (min-width: 601px) {
	aside {
		width: 230px;
	}
	
	main {
		width: calc(100% - 230px);
	}
}

footer {
	width: 100%;
	height: 90px;
}

/* Aside-bar */

aside {
	background-color: black;
	
	padding-top: 5px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wide-bar {
	display: none;
}

.logo-small {
	height: 28px;
}

.aside-navbar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon {
	height: 24px;
}

@media screen and (min-width: 601px) {
	aside {
		padding: 20px;
		
		align-items: flex-start;
	}

	.wide-bar {
		display: initial;
	}

	.logo-small {
		display: none;
	}

	.logo-name {
		height: 40px;
	}

	.aside-navbar .btn {
		display: flex;
		align-items: center;
	}
}