/* Common */

:root { /* Variables */

	/* Colors */
	--green: #adff2f;
	--gray: #a3a3a3;
	
	/* Background colors */
	--main-background: #141922;
	--music-player-background: #282828;
	--bar-background: #5a5a5a;
	--bar-filled: #c1c1c1;

	/* Macro-areas sizes */
	--side-bar-width: 50px;
	--music-player-height: 90px;
	--banner-height: var(--music-player-height);

	/* Common margins */
	--xs-margin: 5px;
	--s-margin: 8px;
	--m-margin: 12px;
	--l-margin: 20px;

	/* Selected button border */
	--selected-border: 2px solid var(--green);
}

@media screen and (min-width: 601px) {
	:root {
		--side-bar-width: 230px;
	}
}

* { /* Reset */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html { /*Font */
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: white;
}

ul {
	list-style: none;
}

.btn {
	color: var(--gray)
}

.btn:hover {
	cursor: pointer;

	color: white;
}

/* Bar rules */

.bar {
	background-color: var(--bar-background);
	
	height: 4px;
	border-radius: 2px;
}

.bar:hover {
	cursor: pointer;
}

.bar-filled {
	background-color: var(--bar-filled);

	height: 100%;
	border-radius: 2px;

	position: relative;
}

.bar:hover .bar-filled {
	background-color: var(--green);
}

.bar-circle {
	display: none;

	height: 6px;
	width: 6px;
	border-radius: 50%;

	background-color: white;

	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(50%, -50%);
}

.bar-filled:hover .bar-circle {
	display: initial;
}

/* Macro-areas size */
body {
	display: flex;
	flex-wrap: wrap;

	overflow: hidden;
}

header {
	width: var(--side-bar-width);
	height: calc(100vh - var(--music-player-height));

	overflow: hidden;
}

main {
	height: calc(100vh - var(--music-player-height));
	flex: 1 0 0;

	overflow-y: auto;
}

footer {
	width: 100%;
	height: var(--music-player-height);

	
	position: absolute;
	bottom: 0;
	z-index: 20;
}

/* Lateral header */

.sidebar {
	background-color: black;
	
	padding: 5px 0 10px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wide-bar {
	display: none;
}

.logo-small {
	height: 28px;
}

.side-navbar {
	margin-top: var(--s-margin);
}

.sidebar li {
	line-height: 35px;
}

.icon {
	height: 24px;
}

.sidebar-bottom {
	margin-top: auto;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn-download img{
	height: 16px;
	width: 16px;
	object-position: -1px;
}

.user-pic {
	width: 25px;
	height: 25px;
	border-radius: 50%;

	overflow: hidden;

	background-color: var(--gray);
}

.user-profile {
	margin-top: 22px;
}

.user-pic img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

@media screen and (min-width: 601px) {
	.sidebar {
		padding: var(--l-margin) 0 5px;

		align-items: stretch;
	}

	.sidebar .btn, .sidebar .logo,
	.sidebar h3 {
		padding-left: var(--l-margin);
	}

	.wide-bar {
		display: initial;
	}

	.logo-small {
		display: none;
	}

	.logo-name {
		height: 40px;
	}

	.side-navbar {
		margin: 24px 0;
	}

	.side-navbar .icon {
		margin-right: var(--s-margin);
	}

	.sidebar .btn,
	.user-profile {
		display: flex;
		align-items: center;
	}

	.sidebar .btn.selected {
		padding-left: 18px;
		border-left: var(--selected-border);
		color: white;
	}

	.add-playlist {
		margin: 12px 0;
	}

	.add {
		margin-right: var(--s-margin);
		width: 37px;
		line-height: 37px;
		
		font-size: 30px;
		text-align: center;
		color: black;
		
		background-color: var(--gray);
	}

	.playlists {
		overflow-y: auto;
	}

	.sidebar-bottom {
		align-items: stretch;
	}

	.btn-download img {
		margin-right: var(--s-margin);
	}

	.btn.user-profile {
		padding-top: 13px;
		padding-left: 0;
		margin: var(--s-margin) var(--l-margin) 0;
		border-top: 1px solid var(--gray);
	}

	.user-name {
		color: white;
		font-weight: 600;
		font-size: 16px;
		margin-left: var(--s-margin);
	}
}

/* Fixed-banner */
.upgrade-banner {
	background-color: #00000066;

	height: var(--banner-height);

	position: fixed;
	left: var(--side-bar-width);
	right: 0;
	top: 0;
	z-index: 10;

	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.upgrade-banner .btn {
	text-transform: uppercase;
	font-weight: 500;
	color: white;

	margin-right: var(--l-margin);
	padding: 1em 3em;
	border: 1px solid white;
	border-radius: 3rem;

	transition: transform .5s;
}

.upgrade-banner .btn:hover {
	transform: scale(1.1);
}

/* Main */

.main-content {
	background-color: var(--main-background);

	padding: var(--banner-height) 20px var(--l-margin) 30px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.item {
	width: calc(50% - 10px);
}

@media screen and (min-width: 701px) {
	.item {
		width: calc(25% - 10px);
	}
}

@media screen and (min-width: 1101px) {
	.item {
		width: calc(100% / 6 - 10px);
	}
}

.cover {
	width: 100%;

	position: relative;

	display: flex;
}

.round {
	border-radius: 50%;

	overflow: hidden;
}

.cover img {
	width: 100%;
}

.item:hover {
	cursor: pointer;
}

.item:hover .cover::after {
	content: '';

	position: absolute;
	height: 100%;
	width: 100%;

	background-color: #00000080;
	background-image: url(../img/play-circle-regular.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
}

/* Top navbar */

.main-navbar ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	padding-top: 15px;

	font-weight: 600;
}

.main-navbar .btn {
	text-transform: uppercase;

	padding: 5px 12px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-navbar .btn:first-child {
	padding-left: 5px;
}

.main-navbar .btn:last-child {
	padding-right: 5px;
}

.main-navbar .selected::after {
	content: '';
	height: 5px;
	width: 30px;
	border-bottom: var(--selected-border);
}

/* Footer */

.music-player {
	background-color: var(--music-player-background);

	padding: 0 10px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.player-left {
	width: 10%;
	min-width: 150px;

	display: flex;
}

.track {
	margin-right: var(--l-margin);
	
	display: flex;
	align-items: center;

	color: var(--gray);
	font-size: 12px;
	font-weight: 600;
}

.track h4 {
	color: white;
	font-size: 14px;
	font-weight: 700;

	line-height: 1em;
}

.track img {
	margin-right: var(--m-margin);
	height: 28px;
	width: 28px;
	object-fit: contain;
}

.icons {
	font-size: 18px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.player-center .btn, .player-right .btn {
	color: white;
}

.player-center {
	width: 33%;
	min-width: fit-content;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.function {
	font-size: 18px;

	width: 190px;
	margin-bottom: var(--m-margin);
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.function .fa-play-circle {
	font-size: 30px;
}

.progress {
	width: 100%;

	display: flex;
	align-items: center;

	font-size: 12px;
	font-weight: 600;
}

.progress-bar {
	flex: 1 0 0;

	margin: 0 var(--s-margin);
}

.current-progress {
	width: calc(25 / 275 * 100%); /* 0:25 on 4:35 percentage */
}

.player-right {
	width: 10%;
	min-width: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.volume {
	flex: .85 0 0;
	display: flex;
	align-items: center;
}

.volume-bar {
	margin-left: var(--s-margin);
	flex: 1 0 0;
}

.volume-level {
	width: 20%;
}