/* Common */

:root { /* Variables */

	/* Colors */
	--green: #adff2f;
	--gray: #a3a3a3;
	
	/* Background colors */
	--main-background: #141922;
	--music-player-background: #282828;

	/* Macro-areas sizes */
	--side-bar-width: 50px;
	--music-player-height: 90px;
	--banner-height: var(--music-player-height);

	/* Common margins */
	--s-margin: 8px;
	--m-margin: 20px;

	/* Selected button border */
	--selected-border: 2px solid var(--green);
}

@media screen and (min-width: 601px) {
	:root {
		--side-bar-width: 230px;
	}
}

* { /* Reset */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html { /*Font */
	font-family: 'Montserrat', sans-serif;
	color: white;
}

ul {
	list-style: none;
}

.btn {
	color: var(--gray)
}

.btn:hover {
	cursor: pointer;

	color: white;
}

/* Macro-areas size */
body {
	display: flex;
	flex-wrap: wrap;
}

header {
	width: var(--side-bar-width);
	height: calc(100vh - var(--music-player-height));

	overflow: hidden;
}

main {
	flex: 1 0 0;

	overflow-y: auto;
}

footer {
	width: 100%;
	height: var(--music-player-height);
}

/* Lateral header */

.sidebar {
	background-color: black;
	
	padding: 5px 0 10px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wide-bar {
	display: none;
}

.logo-small {
	height: 28px;
}

.side-navbar {
	margin-top: var(--s-margin);
}

.sidebar li {
	line-height: 35px;
}

.icon {
	height: 24px;
}

.sidebar-bottom {
	margin-top: auto;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn-download img{
	height: 16px;
	width: 16px;
	object-position: -1px;
}

.user-pic {
	width: 25px;
	height: 25px;
	border-radius: 50%;

	overflow: hidden;

	background-color: var(--gray);
}

.user-profile {
	margin-top: 22px;
}

.user-pic img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

@media screen and (min-width: 601px) {
	.sidebar {
		padding: var(--m-margin) 0 5px;

		font-size: 14px;

		align-items: stretch;
	}

	.sidebar .btn, .sidebar .logo,
	.sidebar h3 {
		padding-left: var(--m-margin);
	}

	.wide-bar {
		display: initial;
	}

	.logo-small {
		display: none;
	}

	.logo-name {
		height: 40px;
	}

	.side-navbar {
		margin: 24px 0;
	}

	.side-navbar .icon {
		margin-right: var(--s-margin);
	}

	.sidebar .btn,
	.user-profile {
		display: flex;
		align-items: center;
	}

	.sidebar .btn.selected {
		padding-left: 18px;
		border-left: var(--selected-border);
		color: white;
	}

	.add-playlist {
		margin: 12px 0;
	}

	.add {
		margin-right: var(--s-margin);
		width: 37px;
		line-height: 37px;
		
		font-size: 30px;
		text-align: center;
		color: black;
		
		background-color: var(--gray);
	}

	.playlists {
		overflow-y: auto;
	}

	.sidebar-bottom {
		align-items: stretch;
	}

	.btn-download img {
		margin-right: var(--s-margin);
	}

	.btn.user-profile {
		padding-top: 13px;
		padding-left: 0;
		margin: var(--s-margin) var(--m-margin) 0;
		border-top: 1px solid var(--gray);
	}

	.user-name {
		color: white;
		font-weight: 600;
		font-size: 16px;
		margin-left: var(--s-margin);
	}
}

/* Fixed-banner */
.upgrade-banner {
	background-color: #00000066;

	height: var(--banner-height);

	position: fixed;
	left: var(--side-bar-width);
	right: 0;
	top: 0;
	z-index: 10;

	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.upgrade-banner .btn {
	color: white;

	margin-right: var(--m-margin);
	padding: 1em 4em;
	border: 1px solid white;
	border-radius: 1.5em;
}

/* Main */

.main-content {
	background-color: var(--main-background);

	padding-top: var(--banner-height);
}

/* Top navbar */

.main-navbar ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	padding-top: 15px;

	font-size: 14px;
	font-weight: 600;
}

.main-navbar .btn {
	text-transform: uppercase;

	padding: 5px 12px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-navbar .btn:first-child {
	padding-left: 5px;
}

.main-navbar .btn:last-child {
	padding-right: 5px;
}

.main-navbar .selected::after {
	content: '';
	height: 5px;
	width: 30px;
	border-bottom: var(--selected-border);
}

/* Footer */

.music-player {
	background-color: var(--music-player-background);

	position: absolute;
	bottom: 0;

	display: flex;

	z-index: 20;
}

@media screen and (max-height: 180px) {
	.main-content {
		display: none;
	}
}